*.log
.scrapy
__pycache__/
**/logs 
*.csv
*.json
*.jsonl
*.p
geckodriver.log
ghostdriver.log
CANCER/geckodriver.log
CANCER/ghostdriver.log
NHPID/ghostdriver.log
NHPID/geckodriver.log
CANCER/*.p
NHPID/*.p
CANCER/config.py
*.ipynb
CANCER/.ipynb
NHPID/.ipynb
